p.pCon{
	text-align: inherit;
}
img.imagenCon{
	float: left; 
	margin-right:1%;
	width: 43%;
	height: 13.75em;
}

img.imagen2Con{
	margin-top:4%; 
	margin:2% auto;
	display:block;
	width: 90%;
	height: 15%;
}

